
body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 60px;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20 px 0;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}
 
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    
}
li {
    display: inline;
    margin: 25px;
    color: #025157;
}
  
.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}
  
.logo {
    width: 15%;
}
  
.logo > img {
    width: 15%;
}
  
.navbar {
    text-align: center;
    color: #025157;
    font-weight: 500;
}
  
.actions {
    text-align: right;
    font-size: 14px;   
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border:0;
    border-radius: 5px;
}
.main {
    margin-top: 285px;
    text-align: center;
}

.publish {
    /* container styles if any */
    margin-left: 30px;
}
  
.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
  margin: auto;
}

.publish > p {
  font-size: 18px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 40px;
}

.publish > form {
  display: flex;
  align-items: center;
}

.publish > form p { 
  color: #025157;
  margin-right: 16px;
  font-size: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

iframe {
    display: flex;
    margin: auto;
    width: 560px;
    height: 315px;
}

.flecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.flecha img {
    width: 10%;
    margin-top: 10px;
}

.features {
    margin-top: 5%;
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 50%;
}
  
.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
  
.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}
  
.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}
  
.features .feature-card .feature-content img {
    width: 50px;
}
  
.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
  
.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}
  
.features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
  
.features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}
  
.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    .navbar, 
    .actions{
        display: none;
    }
    h1 {
        font-size: 30px;
      }
    .main {
        margin-top: 100px;
    }

    /** Media queries previos al banner **/
    .banner > img {
        width: 100%;
    }
    .banner2 > img {
        width: 100%;
    }

    .publish > form {
        flex-direction: column;
    }

    .publish > form > div {
        height: 50px;
        margin-top: 10px;  
    }

    .publish > form > div > input {
        width: 50%;
    }

    .promo{
        flex-direction: column;
        max-width: 90%;
    }

    .flecha > video{
        width: 100%;
    }

    .publish{
        margin-top: 10px;
    }

    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
        width: 100%;  
    }
    .feature-image {
       display: none;
    } 
}
  
  /** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
    
}
  
  /** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    
}
  
  /** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    
}
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
    
}



